@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta), system-ui, sans-serif;
  --font-serif: var(--font-playfair), Georgia, serif;

  --color-brand-brown: #2A1E17;
  --color-brand-gold: #C5A880;
  --color-brand-apricot: #EFEFEA;
  --color-brand-cream: #FBFBF9;
  --color-brand-almond: #EFEFEA;
  --color-brand-espresso: #3A2E2B;
}

:root {
  background-color: #FBFBF9;
  color: #3A2E2B;
}

body {
  font-family: var(--font-jakarta), system-ui, sans-serif;
  background-color: #FBFBF9;
  color: #3A2E2B;
}
